.news {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  
  .newsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* News ITEM STYLING */
  
  .newsItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .newsItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .newsItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .newsItem h1{
    font-size: 12px;
    color: #444;
    margin: 10px;
  }
  .newsItem p{
    border-bottom: 1px solid crimson;
    width: 30%;
    margin: 1px auto;
  }
  
  @media only screen and (max-width: 1300px) {
    .newsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .newsList {
      grid-template-columns: 1fr;
    }
    .newsItem {
      margin: 20px auto;
 
    }
  }
  
  @media only screen and (max-width: 400px) {
    .newsItem {
      margin: 20px 20px 20px -20px;
 
    }
  }
  